.phone {background: #F7FFF8;
    width: 390px;
    height: 844px;

}
img {display: block;
margin-left: auto;
margin-right: auto;
margin-top: 5%;}

h1 { font-family: 'Montserrat', sans-serif;
font-size: 24px;
font-weight: 500;
text-align: center;
color: #038C3E ;}

#donate{ background:#84C796;
width: 270px;
height:145px;
border-radius: 30px;
display: block;
margin-left: auto;
margin-right: auto;}

h2 {font-family:'Montserrat', sans-serif;
    font-weight: 500;
font-size: 22px;
color:white;
text-align: center;
text-shadow: gray 1px 1px 5px;}

h3{ font-family:'Montserrat', sans-serif;
    font-weight: 500;
font-size: 22px;
text-align: center;
color: #038C3E;}

h4
{font-family:'Montserrat', sans-serif;
    font-weight: 400;
font-size: 15px;
text-align: center;
color: #AABAAA;}


footer {margin-top: 25% ;
margin-left: auto;
margin-right: auto;}




nav{

    width: 100%;
    position: fixed;
    bottom : -100%;
    background-color: #141414;
    padding: 5% 0%;
    transition: .6s;

}


.navToggle{

    bottom : 0;

}


#menu{

    width : 100%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;

}


#menu li a{

    color : whitesmoke;
    font-size: 1.2em;
    text-decoration: none;

}


#settings-menu-btn{

    margin-top: 20%;

}